body {
    font-family: "Open Sans", sans-serif;
  }
.heading {
    background-image: url(https://i.pinimg.com/originals/73/e6/5a/73e65a3c42e90b0c00a9f408283dc1bb.jpg);
    color: #4e5155;
    text-align: center;
    padding: 10px;
    margin-bottom: 2%;
  }  
.highlight {
    background-color: #acb4ff;
    background-image: linear-gradient(to right, #acc6ff 100%, #7d98f1 0%);
    padding-left:4%;
    padding-right:4%;
    border-radius: 4em;
}
input {
    width: 75%;
  }
#city-list {
    width: 22rem;
  }
.forecast {
    background-color: #acb4ff;
    background-image: linear-gradient(to right, #7d98f1 0%, #acc6ff 100%);
    color: rgb(44, 44, 44);
    margin-right: 2%;
}
h3{
    font-weight: bold;
}
